<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EmptyHandDBEntities" connectionString="metadata=res://*/EmptyHandDBModel.csdl|res://*/EmptyHandDBModel.ssdl|res://*/EmptyHandDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=181.171.133.9,3117\SQLEXPRESS;Initial Catalog=EmptyHandDB;User ID=gameAdmin;Password=4dm1nistrat0r94;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>