<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmptyHandDBEntities" connectionString="metadata=res://*/EmptyHandDBModel.csdl|res://*/EmptyHandDBModel.ssdl|res://*/EmptyHandDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0S24NJ4\SQLEXPRESS;initial catalog=EmptyHandDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>